<!DOCTYPE Html>
<html>
  <head>
    <title>andrewthorp.com - go</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans" />
    <link rel="stylesheet" href="/css/site.css" />
  </head>

  <body>
    <div class="row">
      <div class="large-7 large-centered columns">
        <h1 id="global-header">I'm Andrew Thorp. I'm a husband, father, developer, and a Christ-follower.</h1>

        <div id="content">
          <h4>I've worked for:</h4>
          <ul>
            <li><a href="https://stripe.com">Stripe</a></li>
            <li><a href="https://purecharit.com">Pure Charity</a></li>
            <li><a href="http://aceofsales.com">Ace of Sales</a></li>
          </ul>

          <h4>You can find me on:</h4>
          <ul>
            <li><a href="https://github.com/andrewpthorp">GitHub</a></li>
            <li><a href="https://twitter.com/andrewpthorp">Twitter</a></li>
            <li><a href="mailto:andrewpthorp@gmail.com">Email</a></li>
          </ul>

          <footer>
            <p>
              My PGP key: <a href="/statics/andrewthorp-pgp.asc" class="pgp">FA56FA77</a>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
